# Dependencies
node_modules/
jspm_packages/
/.pnp
.pnp.*
bower_components

# Testing
coverage
*.lcov
.nyc_output

# Next.js
.next
out

# Production
build/
dist/

# Misc
.DS_Store
*.pem
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# IDE
.vscode/
.idea/
.vscode-test

# Cache
.cache
.parcel-cache
.temp
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.tern-port

# TypeScript
*.tsbuildinfo
.yarn/
.yarn-integrity
